<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add Student Data</h1>
    <p><a href="/student">Back to Student</a></p>
    <% if(errEmail !== ''){ %>
      <p style="color:red"><%= errEmail %></p>
    <% } %>
    <form action="/student" method="post">
      <input type="text" name="first_name" placeholder=" First Name">
      <input type="text" name="last_name" placeholder=" Last Name">
      <input type="text" name="email" placeholder=" Email">
      <button type="submit" name="submit"> Tambah </button>
    </form>
  </body>
</html>
