<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Kang admin</h1>
    <br><br>
    <a href="/">Home</a>
    <a href="/">Home</a>
    <a href="/teacher">Teacher</a>
    <a href="/subject">Subject</a>
    <a href="/student">Student</a>
    <br><br>
  </body>
</html>
