<div class="dropdown">
  <button class="dropbtn">Silahkan KLICK untuk menambahkan</button>
  <div class="dropdown-content">
    <a href="/teacher/add">ADD Teacher</a>
    <a href="/student/add">ADD Student</a>
    <a href="/subject/add">ADD Subject</a>
  </div>
</div>
<br><br>
